<div class="orbit" role="region" aria-label="DineOut+" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="/assets/restaurant-1.jpg" alt="Restaurant">
      <figcaption class="orbit-caption">
        <h4>All the information you need to make the best decisions possible for Boston's restaurant week: Dine Out Boston.</4>
        <br/>
        <br/>
        <% if current_user.nil? && !admin_signed_in? %>
            <h4>Log in to add reviews and save favorites, or continue to view restaurants.</h4>
            <div id="orbit-buttons">
              <span id="button"><%= button_to "Log in", new_user_session_path, method: :get, class: 'homepage-button' %></span>
              <span id="button"><%= button_to "Enter", restaurants_path, method: :get, class: 'homepage-button' %></span>
            </div>
        <% else %>
          <%= button_to "Enter", restaurants_path, method: :get %>
        <% end %>
      </figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/assets/restaurant-2.jpg" alt="Restaurant">
      <figcaption class="orbit-caption">
        <h4>All the information you need to make the best decisions possible for Boston's restaurant week: Dine Out Boston.</4>
        <br/>
        <br/>
        <% if current_user.nil? && !admin_signed_in? %>
            <h4>Log in to add reviews and save favorites, or continue to view restaurants.</h4>
            <div id="orbit-buttons">
              <span id="button"><%= button_to "Log in", new_user_session_path, method: :get, class: 'homepage-button' %></span>
              <span id="button"><%= button_to "Enter", restaurants_path, method: :get, class: 'homepage-button' %></span>
            </div>
        <% else %>
          <%= button_to "Enter", restaurants_path, method: :get %>
        <% end %>
      </figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="/assets/restaurant-3.jpg" alt="Restaurant">
      <figcaption class="orbit-caption">
        <h4>All the information you need to make the best decisions possible for Boston's restaurant week: Dine Out Boston.</4>
        <br/>
        <br/>
        <% if current_user.nil? && !admin_signed_in? %>
            <h4>Log in to add reviews and save favorites, or continue to view restaurants.</h4>
            <div id="orbit-buttons">
              <span id="button"><%= button_to "Log in", new_user_session_path, method: :get, class: 'homepage-button' %></span>
              <span id="button"><%= button_to "Enter", restaurants_path, method: :get, class: 'homepage-button' %></span>
            </div>
        <% else %>
          <%= button_to "Enter", restaurants_path, method: :get %>
        <% end %>
      </figcaption>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
  </nav>
</div>
