<div class="page-body">

  <h2>Participating restaurants</h2>

  <div class="filter-form">
  <%= form_tag(restaurants_path, method: "get", id: "search-form") do %>
      <ul class="search-container">
        <li><%= select_tag :region, options_for_select(@region_collection, params[:search]) %></li>
        <li><%= select_tag :cuisine, options_for_select(@cuisine_collection, params[:search]) %></li>
        <li><%= select_tag :lunch_price, options_for_select(@lunch_price_collection, params[:search]) %></li>
        <li><%= select_tag :dinner_price, options_for_select(@dinner_price_collection, params[:search]) %></li>
        <li><%= text_field_tag :keyword, params[:search], placeholder: "Name of restaurant" %></li>
        <li id="filter-search-button"><%= submit_tag "Search", name: nil, class: "search-button" %></li>
      </ul>
    <% end %>
  </div>

  <%= paginate @restaurants %>

  <ul class="restaurant-info">
    <% if @restaurants.empty? %>
      <p class="search-results">No results matched your search.</p>
    <% else %>
      <% @restaurants.each do |restaurant| %>
      <li class="restaurant-list-item">
        <img src="<%= restaurant.image_url %>" class="restaurant-image">
        <h3><%= restaurant.name %></h3>
        <p><%= restaurant.region %></p>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.cuisine %></p>

        <% if !restaurant.lunch_price.nil? && !restaurant.lunch_menu_link.nil? %>
          <p>Lunch: <%= restaurant.lunch_price %> / <%= link_to "Menu", restaurant.lunch_menu_link, target: "_blank" %></p>
        <% elsif !restaurant.lunch_price.nil? %>
          <p>Lunch: <%= restaurant.lunch_price %></p>
        <% end %>

        <% if !restaurant.dinner_price.nil? && !restaurant.dinner_menu_link.nil? %>
          <p>Dinner: <%= restaurant.dinner_price %> / <%= link_to "Menu", restaurant.dinner_menu_link, target: "_blank" %></p>
        <% elsif !restaurant.dinner_price.nil? %>
          <p>Dinner: <%= restaurant.dinner_price %></p>
        <% end %>

        <% if !restaurant.special_notes.nil? %>
          <p id="special-notes"><%= restaurant.special_notes %></p>
        <% end %>

        <%= button_to "More information", restaurant, method: :get, class: "more-info-button" %>
        <br/>
      <% end %>
      </li>
    <% end %>
  </ul>
  <%= paginate @restaurants %>
</div>
