<div class="page-body">

  <ul class="restaurant-info">
    <li class="restaurant-list-item-show">
    <img src="<%= @restaurant.image_url %>">
    <h3><%= @restaurant.name %></h3>
    <p><%= @restaurant.region %></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.cuisine %></p>

    <% if !@restaurant.lunch_price.nil? && !@restaurant.lunch_menu_link.nil? %>
      <p>Lunch: <%= @restaurant.lunch_price %> <%= link_to "Menu", @restaurant.lunch_menu_link, target: "_blank" %></p>
    <% elsif !@restaurant.lunch_price.nil? %>
      <p>Lunch: <%= @restaurant.lunch_price %></p>
    <% end %>

    <% if !@restaurant.dinner_price.nil? && !@restaurant.dinner_menu_link.nil? %>
      <p>Dinner: <%= @restaurant.dinner_price %> <%= link_to "Menu", @restaurant.dinner_menu_link, target: "_blank" %></p>
    <% elsif !@restaurant.dinner_price.nil? %>
      <p>Dinner: <%= @restaurant.dinner_price %></p>
    <% end %>

    <% if !@restaurant.special_notes.nil? %>
      <p><%= @restaurant.special_notes %></p>
    <% end %>

    <% if !@restaurant.reviews.empty? %>
      <p>Average rating: <%= @average_rating %> / 5</p>
    <% end %>

    <div id="restaurant">
      <input type="hidden" id="restaurant-id" value="<%= @restaurant.id %>" />
      <% if current_user %>
      <input type="hidden" id="current-user-id" value="<%= current_user.id %>" />
      <% else %>
      <input type="hidden" id="current-user-id" value="0" />
      <% end %>
      <input type="hidden" id="admin" value="<%= admin_signed_in? %>" />
    </div>
    </li>
  </ul>

  <h1>Reviews</h1>
    <% if current_user || current_admin %>
      <h2>Add a review</h2>
      <%= form_for [@restaurant, @new_review] do |f| %>
        <div class="field">
          <%= f.label :rating, "Rating (1-5)" %>
          <%= f.text_field :rating %>
        </div>

        <div class="field">
          <%= f.label :body, "Review" %>
          <%= f.text_area :body %>
        </div>

        <div class="action">
          <%= f.submit "Add review"%>
        </div>
      <% end %>
    <% end %>
    <br/>

    <div id="review-list">
      <input type="hidden" id="restaurant-id" value="<%= @restaurant.id %>" />
      <% if current_user %>
        <input type="hidden" id="current-user-id" value="<%= current_user.id %>" />
      <% else %>
        <input type="hidden" id="current-user-id" value="0" />
      <% end %>
      <input type="hidden" id="admin" value="<%= admin_signed_in? %>" />
    </div>
    <br/>

    <%= link_to "Back to restaurants", restaurants_path %>
</div>
