<div class="page-body">

  <ul class="restaurant-info">
    <li class="restaurant-list-item-show">
    <img src="<%= @restaurant.image_url %>" class="restaurant-image">
    <h3><%= @restaurant.name %></h3>
    <p><%= @restaurant.region %></p>
    <p><%= @restaurant.address %></p>
    <% if @phone %>
      <p><%= @phone %></p>
    <% end %>
    <p><%= @restaurant.cuisine %></p>

    <% if !@restaurant.lunch_price.nil? && !@restaurant.lunch_menu_link.nil? %>
      <p>Lunch: <%= @restaurant.lunch_price %> <%= link_to "Menu", @restaurant.lunch_menu_link, target: "_blank" %></p>
    <% elsif !@restaurant.lunch_price.nil? %>
      <p>Lunch: <%= @restaurant.lunch_price %></p>
    <% end %>

    <% if !@restaurant.dinner_price.nil? && !@restaurant.dinner_menu_link.nil? %>
      <p>Dinner: <%= @restaurant.dinner_price %> <%= link_to "Menu", @restaurant.dinner_menu_link, target: "_blank" %></p>
    <% elsif !@restaurant.dinner_price.nil? %>
      <p>Dinner: <%= @restaurant.dinner_price %></p>
    <% end %>

    <% if !@restaurant.reviews.empty? %>
      <p>DineOut+ rating: <%= @average_rating.round(2) %> / 5</p>
    <% end %>

    <div id="restaurant">
      <input type="hidden" id="restaurant-id" value="<%= @restaurant.id %>" />
      <% if current_user %>
      <input type="hidden" id="current-user-id" value="<%= current_user.id %>" />
      <% else %>
      <input type="hidden" id="current-user-id" value="0" />
      <% end %>
      <input type="hidden" id="admin" value="<%= admin_signed_in? %>" />
    </div>
    <br/>

    <% if @yelp_info %>
      <div class="yelp-info">
        <a href="<%= @yelp_url %>" target="_blank">
          <img src="https://s3-media3.fl.yelpcdn.com/assets/srv0/styleguide/24e1fe240f00/assets/img/brand_guidelines/yelp_fullcolor_outline.png" class="yelp-image">
          <img src="<%= @rating_img %>" class="yelp-stars">
          <span>Out of <%= @review_count %> reviews on Yelp</span>
        </a>
      </div>
    <% end %>

    <% if !@restaurant.special_notes.nil? %>
    <p><%= @restaurant.special_notes %></p>
    <% end %>
    </li>
  </ul>

  <h1>Reviews</h1>
    <% if current_user || current_admin %>
      <h2>Add a review</h2>
      <%= form_for [@restaurant, @new_review] do |f| %>
        <div class="field">
          <%= f.label :rating, "Rating (1-5)" %>
          <%= f.text_field :rating %>
        </div>

        <div class="field">
          <%= f.label :body, "Review" %>
          <%= f.text_area :body %>
        </div>

        <div class="action">
          <%= f.submit "Add review"%>
        </div>
      <% end %>
    <% end %>
    <br/>

    <div id="review-list">
      <input type="hidden" id="restaurant-id" value="<%= @restaurant.id %>" />
      <% if current_user %>
        <input type="hidden" id="current-user-id" value="<%= current_user.id %>" />
        <% if @existing_vote %>
          <input type="hidden" id="existing-vote-value" value="<%= @existing_vote.value %>" />
          <input type="hidden" id="existing-vote" value="<%= @existing_vote.id %>" />
        <% else %>
          <input type="hidden" id="existing-vote-value" value="0" />
          <input type="hidden" id="existing-vote" value="0" />
        <% end %>
      <% else %>
        <input type="hidden" id="current-user-id" value="0" />
      <% end %>
      <input type="hidden" id="admin" value="<%= admin_signed_in? %>" />
    </div>
    <br/>

    <%= link_to "Back to restaurants", restaurants_path %>
</div>
