<div class="page-body">
  <h1>My reviews</h1>

  <ul class="restaurant-info">
    <% if @reviews.empty? %>
      <p class="search-results">You have no reviews.</p>
    <% else %>
      <% @restaurants.each do |restaurant| %>
      <li class="restaurant-list-item-dined">
        <img src="<%= restaurant.image_url %>" class="restaurant-image">
        <h3><%= restaurant.name %></h3>
        <p><%= restaurant.region %></p>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.cuisine %></p>

        <% if !restaurant.lunch_price.nil? && !restaurant.lunch_menu_link.nil? %>
          <p>Lunch: <%= restaurant.lunch_price %> / <%= link_to "Menu", restaurant.lunch_menu_link, target: "_blank" %></p>
        <% elsif !restaurant.lunch_price.nil? %>
          <p>Lunch: <%= restaurant.lunch_price %></p>
        <% end %>

        <% if !restaurant.dinner_price.nil? && !restaurant.dinner_menu_link.nil? %>
          <p>Dinner: <%= restaurant.dinner_price %> / <%= link_to "Menu", restaurant.dinner_menu_link, target: "_blank" %></p>
        <% elsif !restaurant.dinner_price.nil? %>
          <p>Dinner: <%= restaurant.dinner_price %></p>
        <% end %>

        <% if !restaurant.special_notes.nil? %>
          <p><%= restaurant.special_notes %></p>
        <% end %>

        <%= button_to "More information", restaurant, method: :get %>
        <br/>
        <h3>My reviews</h3>
        <% restaurant.reviews.each do |review| %>
          <p><%= review.rating %>/5: <%= review.body %></p>
        <% end %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
