<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <div class="top-bar">
      <div class="top-bar-left">
      <span class="menu-text title"><a href="/">DineOut+</a></span>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <% if admin_signed_in? %>
            <% if !current_admin.avatar.url.nil? %>
              <li class="avatar"><%= image_tag current_admin.avatar.url(:thumb) %></li>
            <% end %>
            <li>Signed in as <%= current_admin.name %></li>
          <% elsif user_signed_in? %>
            <% if !current_user.avatar.url.nil? %>
              <li class="avatar"><%= image_tag current_user.avatar.url(:thumb) %></li>
            <% end %>
            <li></li>
            <li>Signed in as <%= current_user.name %></li>
          <% else %>
          <% end %>
          <li>
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="#">Menu</a>
                <ul class="menu vertical">
                  <li><%= link_to "All restaurants", restaurants_path %></li>
                  <% if admin_signed_in? %>
                    <li><%= link_to "Admin sign out", destroy_admin_session_path, method: :delete %></li>
                    <li><%= link_to "Admin account settings", edit_admin_registration_path, method: :get %></li>
                    <li><%= link_to "Edit user list", users_path, method: :get %></li>
                  <% elsif user_signed_in? %>
                    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                    <li><%= link_to "Account settings", edit_user_registration_path, method: :get %></li>
                  <% else %>
                    <li><%= link_to "Sign in", new_user_session_path %></li>
                    <li><%= link_to "Sign up", new_user_registration_path %></li>
                    <li><%= link_to "Admin sign in", new_admin_session_path %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>

    <div class="flash">
      <% flash.each do |key, value| %>
        <%= value %>
      <% end %>
    </div>

  <body>
    <title><%= content_for?(:title) ? yield(:title) : "DineOut+" %></title>
    <%= yield %>
  </body>
</html>
